<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск билборда</title>
    <style type="text/css">
      h2 { font-size  : 14pt;
           color      : black
      }
      label { font-size  : 14pt;
              color      : green
      }
    </style>
</head>
<body>
  <h2 align="center"> Введите индекс качества</h2>
    <div align = center>
        <form action="", method ="POST">
            <label for="product">Введите индекс качества</label>
            <input name = product_name id="product" type = text placeholder = product_name>
            <br><br>
            <input type = submit value ="Отправить">
        </form>
    </div>

</body>
</html>