<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запрос</title>
    <link href="../static/main.css" type="text/css" rel="stylesheet">

    <script type="text/javascript">
<!--

function validate_form ( ){
  valid = true;

        if ( document.input.input_quality.value == "" ){
                alert ( "Пожалуйста, заполните поле 'Год'." );
                valid = false;
                return valid;
        }

       if (Number(document.input.input_quality.value) > 5 ){
                alert ( "Пожалуйста, введите значение индекса качества не больше 5" );
                valid = false;
                return valid;
        }

}

//-->
</script>

</head>

<body>
    <div class="layout">
        <header class="header" id="header">
            <div class="header_inner">
			<div class="header_logo">BillBo</div>
                <nav class="nav" id="nav">
                    <a class="nav_link" href={{url_for('menu_choice')}}>Назад в главное меню</a>
                    <a class="nav_link" href="#">Мой профиль</a>
                </nav>
            </div>
        </header>
        <div class="wrapper_query">
            <h1 class="main_title">Выберите индекс качества билборда</h1>
            <form action="", name="input" method ="POST" onsubmit="return validate_form ( );">
                 <div class="items_query">
                    <input type="text" name="input_quality" class="form_query_input" placeholder="Введите индекс качества" onKeyPress ="if ((event.keyCode < 48) || (event.keyCode > 57)) event.returnValue = false;">
                    <input type="submit"  class="form_submit" value="Найти">
                 </div>
            </form>
        </div>
    </div>
</body>
</html>