{% extends 'base.html' %}

{% block external_user %}
    <a href="{{url_for('bp_order.order_index')}}" class="menu_item">Сделать заказ</a>
    <a href="{{url_for('bp_query.view_billboard_by_quality')}}" class="menu_item">Посмотреть билборды по индексу качества</a>
    <a href="{{url_for('bp_query.view_billboard_by_direction')}}" class="menu_item">Посмотреть билборды по направлению</a>
    <a href={{url_for('blueprint_auth.start_auth')}} class="menu_item">Нажмите для выхода из системы</a>
{% endblock %}